<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b2bcamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddComplainActivity"></activity>
        <activity android:name=".AddInquiryActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".Categoryproductlistactivity" />
        <activity
            android:name=".Userselection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sellerlogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customerhomepage"
            android:label="@string/title_activity_customerhomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellerhomepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customerhomepageactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Addproductactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resetactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Verifyactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotpasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Usersignup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Userlogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>