<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.b2bcamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".StatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity
            android:name=".ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddComplainActivity" />
        <activity android:name=".AddInquiryActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".Categoryproductlistactivity" />
        <activity
            android:name=".Userselection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sellerlogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellersignup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customerhomepage"
            android:label="@string/title_activity_customerhomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellerhomepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Addproductactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resetactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Verifyactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotpasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Usersignup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Userlogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mvc.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>